<% provide(:title, "") %>
<div class="center jumbotron">
<h1>Welcome to the Film Shelf</h1>
    <h2>Welcome to my website!!</h2>
    <p>Enjoy sharing your favorite films with all other users!!★</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>